target/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.idea/
*.iml
*.iws
out/
.vscode/
Thumbs.db
desktop.ini
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
docker-compose.override.yml
docker-compose.yml
*.pid
*.sock
*.tar
*.gz
*.old
docker-data/
/logs/
*.class
*.jar
*.war
*.ear
.env
.env.*
.data/
data/
